{% comment %}
コメント一覧コンポーネント

Template Path:
    components/comment_list.html

Args:
    comments (list[apps.question.models.Comment]): Comment オブジェクトの list
    avatar (common.dataclass.Avatar): Avatarオブジェクト
{% endcomment %}

{% for comment in comments %}
    <div class="d-flex mt-2">
        <div>
            {% include 'components/avatar.html' with avatar=comment.commented_by.get_small_avatar %}
        </div>
        <div class="ms-2">
            <div>
                <a href={% url 'user:user_detail' comment.commented_by.account_id %} class="text-dark">
                    {{ comment.commented_by.username }}
                </a>
                <span class="text-muted ms-1 c-comment-list__time-diff" title="{{ comment.created_at }}">
                    {{ comment.created_at_time_diff_str }}
                </span>
            </div>
            <div>
                {{ comment.comment|linebreaks }}
            </div>
        </div>
    </div>
{% empty %}
    <div class="m-2 text-center">
        表示するコメントがありません
    </div>
{% endfor %}

<style>
    /* コメント一覧の「XX前」のスタイル */
    .c-comment-list__time-diff {
        font-size: 0.9rem;
    }
</style>
