{% extends 'components/card_base.html' %}
{% comment %}
問題のカード表示

Template Path:
    projects/question_card.html

Args:
    card_title (str): カードのタイトル
    question (Question): Question モデル
{% endcomment %}

{% block card_title %}
    <div class="d-flex">
        <div class="mb-3">
            {{ card_title }}
        </div>
        <div class="ms-auto">
            {% include 'components/feedback_button.html' with question=question %}
        </div>
    </div>
{% endblock %}

{% block card_header %}
    <div class="d-flex">
        <span class="ms-auto">
            作成者: {{ question.created_by }}
        </span>
    </div>
{% endblock %}

{% block card_body %}
    <div class="p-4 js-question-card__container" data-question-id="{{ question.pk }}">
        {% csrf_token %}
        <div>
            {% comment %} 問題バッジ {% endcomment %}
            {% if question_badge %}
                <div>
                    {{ question_badge }}
                </div>
            {% endif %}
            {% comment %} 問題文 {% endcomment %}
            <div class="mt-2">
                {{ question.text }}
            </div>
            {% comment %} 選択肢 {% endcomment %}
            <form class="js-question-card__choice-form">
                {% for choice in question.choices.all %}
                    <div class="m-3 form-check p-question-card__choice-container">
                        <input
                            id="id-question-card__choice-check-{{ choice.pk }}"
                            class="form-check-input p-question-card__choice-check js-question-card__choice-check"
                            type="checkbox"
                            name="choice"
                            value="{{ choice.pk }}"
                            data-is-answer="{{ choice.is_answer }}"
                        >
                        <label for="id-question-card__choice-check-{{ choice.pk }}">
                            {{ choice.number }}. {{ choice.choice_text }}
                        </label>
                    </div>
                {% endfor %}
            </form>
            {% comment %} 「決定」ボタン {% endcomment %}
            <div class="d-flex js-question-card__confirm-button-container">
                <div class="ms-auto">
                    {% include 'components/button.html' with button=confirm_button %}
                </div>
            </div>
        </div>
        {% comment %} 解説 {% endcomment %}
        <div class="d-none mt-4 js-question-card__explanation">
            <label class="fw-bold mt-3">
                正答
            </label>
            <div>
                {% for choice in question.choices.all %}
                    {% if choice.is_answer %}
                        {{ choice.number }}
                    {% endif %}
                {% endfor %}
            </div>
            <label class="fw-bold mt-3">
                解説
            </label>
            <div>
                {{ question.explanation }}
            </div>
        </div>
        {% comment %} AI コメント {% endcomment %}
        <div class="d-none mt-4 js-question-card__ai-comment-container">
            <label class="fw-bold mt-3">
                この解説、本当？
            </label>
            <div class="js-question-card__ai-comment">
                {% if question.get_ai_comment %}
                    {{ question.get_ai_comment.comment }}
                {% else %}
                    <div class="m-2 text-center">
                        表示する「この解説、本当？」がありません
                    </div>
                    <div class="d-flex">
                        <div class="m-auto">
                            {% include 'components/button.html' with button=ai_comment_button %}
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
        {% comment %} 結果エフェクト {% endcomment %}
        <div class="d-none correct p-question-card__result-effect js-question-card__result-effect"></div>

        {% comment %} テンプレート - ローダー {% endcomment %}
        <template class="js-question-card__ai-comment-loader-template">
            <div class="d-flex">
                <div class="m-auto">
                    <div class="spinner-border text-secondary" role="status"></div>
                </div>
            </div>
        </template>
    </div>

    <style>
        .p-question-card__choice-container input:focus {
            border-color: #0073bb;
            box-shadow: none;
        }
        .p-question-card__choice-check:checked {
            background-color: #0073bb;
            border-color: #0073bb;
        }
        .p-question-card__result-effect {
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 50px;
            opacity: 1;
            transition: opacity .5s linear;
            font-weight: bold;
            text-shadow: -3px -3px 0 #e6e6e6, 3px -3px 0 #e6e6e6, -3px 3px 0 #e6e6e6, 3px 3px 0 #e6e6e6;
        }
        .p-question-card__result-effect.fade {
            opacity: 0;
        }
        .p-question-card__result-effect.correct {
            color: #f1556c;
        }
        .p-question-card__result-effect.wrong {
            color: #6658dd;
        }
    </style>

    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const questionContainer = document.querySelector('.js-question-card__container');
            const questionId = questionContainer.dataset.questionId;
            // 解答ボタン
            const confirmButton = document.querySelector('.js-question-card__confirm-button');
            confirmButton.addEventListener('click', () => {
                const questionExplanation = document.querySelector('.js-question-card__explanation');
                const aiCommentContainer = document.querySelector('.js-question-card__ai-comment-container');
                const chatCommentContainer = document.querySelector('.js-question-detail__chat-comment-container');
                const confirmButtonContainer = document.querySelector('.js-question-card__confirm-button-container');
                questionExplanation.classList.remove('d-none');
                aiCommentContainer.classList.remove('d-none');
                chatCommentContainer.classList.remove('d-none');
                confirmButtonContainer.classList.add('d-none');
                displayResultEffect();
                sendResult(questionId);
            });

            // AIコメント生成ボタン
            const aiCommentButton = document.querySelector('.js-question-card__ai-comment-button');
            if (aiCommentButton) {
                aiCommentButton.addEventListener('click', () => {
                    // ローダーで置き換え
                    const aiCommentElement = document.querySelector('.js-question-card__ai-comment');
                    const aiCommentLoaderTemplate = document.querySelector('.js-question-card__ai-comment-loader-template');
                    const aiCommentLoader = aiCommentLoaderTemplate.content.cloneNode(true).firstElementChild;
                    aiCommentElement.innerHTML = '';
                    aiCommentElement.appendChild(aiCommentLoader);

                    // AIコメント生成リクエスト
                    const csrfToken = document.querySelector('[name=csrfmiddlewaretoken]').value;
                    const xhr = new XMLHttpRequest();
                    xhr.open('POST', `/api/questions/${questionId}/comments/ai/create/`, true);
                    xhr.setRequestHeader('X-CSRFToken', csrfToken);
                    xhr.onload = () => {
                        let aiComment = '';
                        if (xhr.status === 200) {
                            aiComment = JSON.parse(xhr.responseText).comment;
                        } else {
                            aiComment = 'エラーが発生しました';
                        }
                        aiCommentElement.innerText = aiComment;
                    };
                    xhr.send();
                });
            }
        });

        /**
         * 結果のエフェクトを表示する。
         */
        const displayResultEffect = () => {
            const isCorrect = isCorrectChoiceSelected();
            const resultEffect = document.querySelector('.js-question-card__result-effect');
            resultEffect.innerText = isCorrect ? '正解' : '不正解';
            resultEffect.classList.add(isCorrect ? 'correct' : 'wrong');
            resultEffect.classList.remove('d-none', 'fade');

            resultEffect.addEventListener('transitionend', () => {
                resultEffect.classList.add('d-none');
            });
            setTimeout(() => {
                resultEffect.classList.add('fade');
            }, 500);
        };

        /**
         * 正解の選択肢が選択されているかどうか、を返す。
         * @returns {boolean} 正解の選択肢が選択されているかどうか
         */
        const isCorrectChoiceSelected = () => {
            const choiceCheckboxNodeList = document.querySelectorAll('.js-question-card__choice-check');
            for (const choiceCheckboxNode of Array.from(choiceCheckboxNodeList)) {
                const isAnswer = choiceCheckboxNode.dataset.isAnswer === 'True';
                if (choiceCheckboxNode.checked !== isAnswer) {
                    return false;
                }
            }
            return true;
        };

        /**
         * 解答の結果を送信する。
          @param {str} 問題ID
         */
        const sendResult = (questionId) => {
            const choiceForm = document.querySelector('.js-question-card__choice-form');
            const formData = new FormData(choiceForm);

            const csrfToken = document.querySelector('[name=csrfmiddlewaretoken]').value;
            const xhr = new XMLHttpRequest();
            xhr.open('POST', `/api/questions/${questionId}/answers/`, true);
            xhr.setRequestHeader('X-CSRFToken', csrfToken);
            xhr.send(formData);
        }
    </script>
{% endblock %}
